
<div style="background:url(/assets/Dark-Background.jpg)">

  <nav class="navbar justify-content-center  ">
      <ul class="nav nav-pills">
        <li class="nav-item ">
          <a class="nav-link" [routerLink] = "['/add']" style="font-weight:bold">Add Car</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" [routerLink] = "['/userDetails']" style="font-weight:bold">User Details</a>
          </li>
          <li class="nav-pills">
              <a class="nav-link" [routerLink] = "['/adcar']" style="font-weight:bold">Update Cars</a>

          </li>
          <li class="nav-pills">
              <a class="nav-link" [routerLink] = "['/admEnq']" style="font-weight:bold">User Enquiry</a>

          </li>
          <button class="btn btn-danger" (click)="onclick()" style="margin-left: 200px">Logout</button>

        </ul>
        </nav>
      </div>
      <img src="assets/Dark-Background.jpg" width="100%" height="30%">


      <footer style="background-color: black">

        <div style="color: black">
          <img src="assets/Flogo.png" width="200px" class="logo">
        </div>
        <a class="a" style="color: cornsilk">
            Ferrari N.V. - Holding company - A company under Dutch law, having its official seat in Amsterdam.

        </a>


      </footer>


    