
    <br><br><button style="margin-left:50% " class="btn btn-danger" (click)="clickk()">Logout</button>

    <div>

    <div class="row">

    <ng-container *ngFor="let c of cardetails" class="col">
      <div class="row">
        <div class="card" style="width:400px">
            <img src={{c.img}} alt="Card image" style="width:100%" >
            <h4 class="card-title">{{c.name}}</h4>
            Price:<p class="card-text">{{c.price|currency:'INR':true:'1.3-5'}}</p>


             Fuel-Capacity:<p class="card-text">{{c.capacity}}</p>
              Displacement:<p class="card-text">{{c.displacement}}</p>
              Fuel-Type:<p class="card-text">{{c.fuel}}</p>
              Mileage:<p class="card-text">{{c.mileage}}</p>


            <button type="button" class="btn btn-primary"  (click)="clicked()">
                Enquiery
              </button>


      </div>
    </div>

      </ng-container>&nbsp;&nbsp;&nbsp;
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;





  